.nav-button-container {
  display: grid;
}
.nav-svg-container {
  position: absolute;
}
.nav-svg-left {
  top: 355px;
  left: -100px;
  transform: rotate(90deg);
}
.nav-svg-bottom {
  bottom: -20px;
  left: 50%;
  transform: translateX(-48%);
}
.nav-svg-right {
  top: 355px;
  right: -87px;
  transform: rotate(90deg);
}
.left-nav {
  position: absolute;
  left: 9px;
  top: 52%;
  transform: translateY(-100%);
  grid-template-rows: repeat(3, 50px);
  height: 175px;
  grid-gap: 5px;
}

.right-nav {
  position: absolute;
  right: 9px;
  top: 52%;
  transform: translateY(-100%);
  grid-template-rows: repeat(3, 50px);
  height: 175px;
  grid-gap: 5px;
}

.bottom-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: 50px 50px 1fr 50px;
  width: 368px;
  grid-gap: 5px;
}
